doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    title= Local
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' media='screen' href='/styles/main.css')
    script(src='https://kit.fontawesome.com/8357c99e29.js' crossorigin='anonymous')
  body
    header
      img.kinoLogo(src='/pics/logoHead.png' alt='logotyp för Kino' usemap='#logoMap')
      map(name='logoMap')
        area(shape='rect' coords='225,10,573,143' href='index.html' alt='Kino')
      .navContainer
        nav.headerNav
          a.headerNavItem(href='moviesPage.html') See all movies
          a.headerNavItem(href='#') Link
          a.headerNavItem(href='#') Link
          a.headerNavItem(href='#') Link
          a.headerNavItem(href='#') Link
          a.headerNavItem(href='#') Link
          a.headerNavItem(href='#') Link
        .searchBar
          input.searchInput(type='search' placeholder='Search...')
          button.searchBtn Search
    main
      section.upperSection
        figure.cinemaSeats
          img.picUnderNav(src='/pics/seats.png' alt='Image under the navbar not found!')
          button.allMoviesBtn(type='button') Show all movies
        h2.topTitle Top three movies
        hr.lineX
        figure.topThree
      section.mid
        section.allMovies
          h2.topTitle All Movies
          //----------movie cards fromm api----------
          figure.movies
            .cardsContainer
              each movie in movies
                .card
                  img.movieImg(src=movie.image alt="images didn't load")
                  .cardsDetails
                    h3.movieName= movie.title
                    button.movieBtn About movie
                      a(href="/moviesInfo.pug") Go to Movies
        section.extraSection
  section.lowerSection
    figure.upComingMovies
      //-- up coming movies here
    .upComingEvents
      //-- All the events here
      hr.eventLine
      h2 Kommande evenemang
      .cardsContainer
        .eventCard
          img.eventImg(src='pics/event1.png' alt='Event image not found')
          p.eventInfo Here goes the information about event
          button.eventBtn
            | Buy ticket
            i.fa-solid.fa-money-bill-1-wave
        .eventCard
          img.eventImg(src='pics/event2.png' alt='Event image not found')
          p.eventInfo Here goes the information about event
          button.eventBtn
            | Buy ticket
            i.fa-solid.fa-money-bill-1-wave
section.skiReviewerSection
  figure
    img.skiReviewer(src='./pics/skier.png' alt='Skidåkare som ser på bio')
    blockquote Oerh&ouml;rt m&auml;ktigt
    figcaption -Stig Helmer
  figure
    img.skiReviewer(src='./pics/skierTwo.png' alt='Skidåkare som ser på bio')
    blockquote Helt underbar helg
    figcaption -Johan Jonsson
  figure
    img.skiReviewer(src='./pics/skierThree.png' alt='Skidåkare som ser på bio')
    blockquote Fantastiskt!
    figcaption -Frida Karlsson
footer
  nav
    a.footerNav.footerAboutUsLink(href='#') Om oss
    a.footerNav.footerAllMoviesLink(href='#') Alla filmer
    a.footerNav.footerInstagramLink(href='#') Instagram
    a.footerNav.footerFacebookLink(href='#') Facebook
    a.footerNav.footerXLink(href='#') X
    a.footerNav.footerTosLink(href='#') ToS
    a.footerNav.footerPrivacyPolicyLink(href='#') Privacy policy
