<!DOCTYPE html>
<html lang="en" class="moviesInfoHtml">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="main.css" />
		<title>Info</title>
	</head>
	<body class="movieInfoBody">
		<div class="cardContainer">
			<div class="imgHolder">
				<img class="movieImg" src="/pics/central.jpg" />
			</div>
			<div class="movieInfo">
				<h1 class="movieName">name of the movie</h1>
				<p class="movieIntro">
					All the description about the movie intro should go ower here and
					later shuold be replased from the api.
				</p>
                <button class="backBtn">Back to home</button>
			</div>
		</div>
	</body>
</html>
