doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' media='screen' href='/styles/main.css')
  title Info
body
  .bodyContainer
    .cardContainer
      .imgHolder
        img.movieImg(src='/pics/central.jpg')
      .movieInfo
        h1.movieName name of the movie
        p.movieIntro
          | All the description about the movie intro should go over here and
          | later should be replaced from the API.
        button.backBtn Back to home
