doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' type='text/css' media='screen' href='/styles/movieInfo.css')
  title Info
body
  .bodyContainer
    .cardContainer
      .imgHolder
        img.movieImg(src=image alt="Image did not load, 404!")
      .movieInfo
        h1.movieName= title
        p.movieIntro= intro
        p.moviePublishedAt Published year: #{publishedAt}
        button.backBtn#backBtn Back to home
  script(src='/js/main.js')
