* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  color: #ffffff;
}

header {
  background-color: #0e0e1b;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .kinoLogo {
  max-width: 100vw;
  height: auto;
  margin-bottom: 1rem;
}
header .navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  gap: 1rem;
}
header .headerNav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
header .headerNav .headerNavItem {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}
header .searchBar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
header .searchBar .searchInput {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
}
header .searchBar .searchBtn {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #175dcc;
  color: #ffffff;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", serif;
}

.skiReviewerSection {
  background-color: #0e0e1b;
  width: 100vw;
  display: flex;
  padding-top: 30px;
  gap: 1rem;
  justify-content: center;
}

.skiReviewer {
  width: 25vw;
  border-radius: 20%;
}

.movieModalWrapper {
  position: fixed;
  background-color: #0e0e1b;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.upperSection {
  display: grid;
}
.upperSection .cinemaSeats {
  position: relative;
}
.upperSection .cinemaSeats .picUnderNav {
  width: 100%;
  height: 90vh;
}
.upperSection .cinemaSeats .allMoviesBtn {
  position: absolute;
  bottom: -40px;
  left: 45%;
  transform: translateY(-50%);
  border: none;
  background-color: #175dcc;
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
.upperSection .lineX {
  margin-top: 10px;
}

.topTitle {
  place-self: center;
  font-family: sans-serif;
  margin-top: 50px;
  color: black;
}

.topThree {
  display: grid;
  grid-template-columns: minmax(0, 1.8fr) minmax(0, 1fr);
  gap: 5px;
  margin: 5%;
  overflow: hidden;
  border-radius: 10px;
  user-select: none;
  box-shadow: black 0px 0px 9px 0.01px;
}
.topThree button {
  padding: 10px 10px;
  border: none;
  font-family: sans-serif;
  border-radius: 7px;
  cursor: pointer;
  max-height: fit-content;
  background-color: #2d7dfe;
  color: white;
}
.topThree button:hover {
  background-color: #ffb509;
  color: black;
}
.topThree .containerLeft {
  background-color: #0e0e1b;
}
.topThree .containerLeft .imgLeft {
  width: 100%;
  height: 89%;
}
.topThree .containerLeft .imgLeft:hover {
  opacity: 0.8;
}
.topThree .containerLeft .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.topThree .containerRight {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.topThree .containerRight .movieCardTop {
  background-color: #0e0e1b;
}
.topThree .containerRight .movieCardTop .imgTop {
  max-width: 100%;
  max-height: 100%;
}
.topThree .containerRight .movieCardTop .imgTop:hover {
  opacity: 0.8;
}
.topThree .containerRight .movieCardTop .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
.topThree .containerRight .movieCardBottom {
  background-color: #0e0e1b;
}
.topThree .containerRight .movieCardBottom .imgBottom {
  max-width: 100%;
  max-height: 100%;
}
.topThree .containerRight .movieCardBottom .imgBottom:hover {
  opacity: 0.8;
}
.topThree .containerRight .movieCardBottom .infoCard {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.upComingEvents {
  display: grid;
}
.upComingEvents .eventLine {
  margin: 50px 0px;
}
.upComingEvents h2 {
  color: black;
  margin-left: 50px;
}
.upComingEvents .cardsContainer {
  margin: 0px 30px 0px 30px;
  display: flex;
  padding: 20px;
  gap: 20px;
}
.upComingEvents .cardsContainer .eventCard {
  display: grid;
  background-color: #0e0e1b;
  max-width: fit-content;
  overflow: hidden;
  border-radius: 10px;
  padding-bottom: 10px;
}
.upComingEvents .cardsContainer .eventCard .eventInfo {
  color: white;
  margin-left: 10px;
  padding-top: 20px;
}
.upComingEvents .cardsContainer .eventCard .eventBtn {
  max-width: fit-content;
  place-self: end;
  padding: 10px;
  margin: 0px 10px;
  border: none;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #2d7dfe;
  color: white;
  transition: background-color 0.2s;
}
.upComingEvents .cardsContainer .eventCard .eventBtn:hover {
  background-color: #ffb509;
  color: white;
}

footer {
  background-color: #0e0e1b;
  font-size: 1.5rem;
  height: 100%;
  width: 100%;
}
footer nav {
  display: grid;
  padding-top: 5rem;
  grid-template-columns: 17rem 17rem 17rem auto;
  grid-template-rows: auto auto auto;
}
footer .footerNav {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  padding: 0.5rem 5rem 0.5rem 5rem;
  width: 100%;
}
footer .footerAboutUsLink {
  grid-column: 1;
  grid-row: 1;
}
footer .footerAllMoviesLink {
  grid-column: 1;
  grid-row: 2;
}
footer .footerInstagramLink {
  grid-column: 2;
  grid-row: 1;
}
footer .footerFacebookLink {
  grid-column: 2;
  grid-row: 2;
}
footer .footerXLink {
  grid-column: 2;
  grid-row: 3;
  padding-bottom: 3rem;
}
footer .footerTosLink {
  grid-column: 3;
  grid-row: 1;
}
footer .footerPrivacyPolicyLink {
  grid-column: 3;
  grid-row: 2;
}

.movies .cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}
.movies .cardsContainer .card {
  background-color: #0e0e1b;
  overflow: hidden;
  border-radius: 10px;
}
.movies .cardsContainer .card .movieImg {
  height: 45vh;
  width: 100%;
}
.movies .cardsContainer .card .cardsDetails {
  display: grid;
  justify-content: center;
}
.movies .cardsContainer .card .cardsDetails .movieBtn {
  max-width: fit-content;
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  background-color: #2d7dfe;
  color: white;
  transition: background-color 0.2s;
}
.movies .cardsContainer .card .cardsDetails .movieBtn:hover {
  background-color: #ffb509;
  color: white;
}

/*# sourceMappingURL=main.css.map */
